* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  min-height: 100vh;
  background-color: brown;
  font-family: sans-serif;
}

.score {
  padding-top: 5vh;
  color: rgb(253, 180, 180);
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.intro {
  color: rgb(253, 180, 180);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.match button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(253, 180, 180);
  text-transform: uppercase;
  font-size: 15px;
  background: rgb(58, 9, 9);
  border-radius: 5px;
  cursor: pointer;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.status {
  color: rgb(253, 180, 180);
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player_hand {
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shake_player {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  25% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-50px);
  }
  65% {
    transform: rotateY(180deg) translateY(0px);
  }
  75% {
    transform: rotateY(180deg) translateY(-50px);
  }
  85% {
    transform: rotateY(180deg) translateY(0px);
  }
  100% {
    transform: rotateY(180deg) translateY(-50px);
  }
}

@keyframes shake_computer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  65% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  85% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}
